<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>Gojo Satoro</h1>
        <p><strong>Domain Expansion</strong>Unlimited Void</p>
        <span>Throughout Heaven and Earth, I alone am the honored one</span>
        <br>
        <img src="Gojo.webp" width="600">
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Domain Expansion Example</a>
        <table border="1" width="600">
            <tr>
                <td colspan="2">
                    Cursed Techniques
                </td>
            </tr>
            <tr>
                <td width="50%">
                    Inherited Techniques
                </td>
                <td>
                    Other Techniques
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Limitless</li>
                        <li>Inifnity</li>
                        <li>Cursed Technique Lapse - Maximum Cursed Energy Output: Blue</li>
                        <li>Cursed Technique Reversal: Red</li>
                        <li>Hollow Technique: Purple</li>
                    </ul>
                </td>
                <td>
                    <ol>
                        <li>Reverse Cursed Technique</li>
                        <li>Barrier Techniques</li>
                        <li>
                            Anti-Domain Techniques
                            <br>
                            <ul>
                                <li>New Shadow Style: Simple Domain</li>
                                <li>Falling Blossom Emotion</li>
                            </ul>
                        </li>
                        <li>Domain Expansion: Unlimited Void</li>
                        <li>Special Abilities: Six Eyes</li>
                    </ol>
                </td>
            </tr>
        </table>
    </center>
</head>
<body>
</body>
</html>